.search_bar{
    padding: 70px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 20%;
}
.search_bar input{
    border-radius: 20px;
}

/*.box{
    display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 15px 0;
  padding: 5px;
  width: 80%;
  min-height: 70px;
  border: 2px #ccc solid;
  color: #fff;
}*/
a{
    color: rgba(255, 255, 255, 0.685);
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
}
a:hover{
    text-decoration: none;
    color: #ffffff;
}
.dropdown{
  margin: 50px 0;
  padding: 20px;
}
.dropdown a{
  font-size: 12px;
  font-weight: bold;
  padding:20px 0;
  width: 125%;
}
.dropdown-menu{
  font-size: 20px;

}
.dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
.dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}