{% extends 'base.html' %}

{% block content %}


        <h2>Notes</h2>

        <p>
            <a href="{% url 'upload_note' %}" class="btn btn-primary"> Upload</a>
        </p>

    <table class="table mb-0">
        <thead>
            <tr>
           
                <th>Title</th>
                <th>Upload By</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
               
                <td>{{ note.title }}</td>
                <td>{{ note.Upload_By }}</td>
                <td>
                    <a href="{{ note.allfiles.url }}" class="btn btn-primary btn-sm" target="_blank">
                        Download
                    </a>    
                </td>
                <td>
                    <form method="POST" action="{% url 'delete_note' note.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
