{% extends 'base.html' %}

{% block content %}

	<title>AecNotes-BCA-First Year</title>

    <!-- NAvbar Open -->
    
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">AEC-NOTES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'note_list' %}">Notes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'upload_note' %}">Upload</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
    </div>

    <!-- Navbar Close -->
     <div class="container sem_box">
        <div class="row ">
            <div class="col-xs-10 col-sm-3">
            
              <h1>semester 5</h1>
            
              <a href="#">Computer Network</a> <br>
            	 <a href="#">Java</a> <br>
            	 <a href="#">DBMS</a> <br>
            	 <a href="#">Numerical Methods</a>
            	            
               <br>
            
               <h1>semester 6</h1>
            
               <a href="#">Information System: Analysis & Design</a>
            	 <a href="#">E-Commerce</a>
            	 <a href="#">Knowledge Management</a>
            	             	             
              </div>
         </div>   
     </div>    

{% endblock %}
